<div class="container-fluid">
  <div id="header" class="row">
    <div class="col-md-1 col-md-offset-1">
      <a href="home">
        <img src="assets/images/logo.png" width="50px" />
      </a>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="resultsArrived">
    <div class="col-md-10 col-md-offset-1">
      <ul class="media-list">
        <li class="media" *ngFor="let recipe of recipes">
          <app-recipe-item [recipe]="recipe" (onRecipeSelected)="setSelectedRecipe($event)">
          </app-recipe-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="recipes?.length == 0">
    <p class="col-md-12">No results.</p>
  </div>
  <div class="row" *ngIf="recipes?.length > 0">
    <div class="col-md-10 col-md-offset-1" [hidden]="!resultsArrived">
      <pagination [itemsPerPage]="10" [totalItems]="totalRecipes" [(ngModel)]="currentPage" [maxSize]="5" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
<img class="loading" *ngIf="!resultsArrived && !errorOccured" src="assets/images/loading.gif" />
<app-recipe-body #recipeDialog [recipe]="selectedRecipe">
<app-recipe-body>
<alert type="danger" *ngIf="errorOccured">
  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
</alert>
