/* You can add global styles to this file, and also import other style files */

.rounded {
  border-radius: 36px !important;
}

.round-corner-right {
  border-top-right-radius: 36px !important;
  border-bottom-right-radius: 36px !important;
}

.round-corner-left {
  border-top-left-radius: 36px !important;
  border-bottom-left-radius: 36px !important;
}
