<div class="recipe-item-bar" (click)="recipeSelected()">
  <div class="media-left">
    <img class="media-object" src="assets/images/pic.svg" alt="..." width="150px">
  </div>
  <div class="media-body">
    <a href="javascript:void(0);">
      <h4 class="media-heading">
        <strong>{{recipe.name}}</strong>
      </h4>
    </a>
    <div>
      <p class="description">
        {{recipe.description}}
      </p>
      <p class="details">
        {{recipe.ingredients_details}}
      </p>
      <p [appDishTypeStyle]="recipe.type" class="label">{{recipe.type | dishTypeFormat}}</p>
    </div>
    <!-- <div class="label-group">
      <p appRandomLabelColor class="label" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</p>
    </div> -->
  </div>
</div>
