<div class="recipe-item-bar" (click)="recipeSelected()">
  <div class="media-left">
    <img class="media-object" src="assets/images/recipes/{{recipe.imageUrl}}" alt="..." width="150px">
  </div>
  <div class="media-body">
    <a href="javascript:void(0);">
      <p [appDishTypeStyle]="recipe.type" class="label pull-right">{{recipe.type | dishTypeFormat}}</p>
      <h4 class="media-heading">
        <strong>{{recipe.name}}</strong>
      </h4>
    </a>
    <div>
      <p class="description">
        {{recipe.description}}
      </p>
      <p class="details">
        {{recipe.ingredients_details}}
      </p>
    </div>
    <div class="row">
    <div class="col-md-6">
      <span class="small-italic" *ngFor="let ingredient of recipe.ingredients">
        &nbsp;{{ingredient}}
      </span>
    </div>
    <div class="col-md-6">
      <span class="small-italic" *ngFor="let seasoning of recipe.seasonings">
        &nbsp;{{seasoning}}
      </span>
    </div>
  </div>
  </div>
</div>
